@font-face {
    font-family: 'RedHatDisplayLight';
    font-style: normal;
    src: url(../fonts/RedHatDisplay/RedHatDisplay-Light.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayLight';
    font-style: italic;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-LightItalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplay';
    font-style: normal;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-Regular.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplay';
    font-style: italic;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-Italic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayMedium';
    font-style: normal;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-Medium.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayLight';
    font-style: italic;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-MediumItalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayBold';
    font-style: normal;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayBold';
    font-style: italic;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-BoldItalic.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayBlack';
    font-style: normal;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-Black.woff2) format('woff2');
  }
  @font-face {
    font-family: 'RedHatDisplayBlack';
    font-style: italic;
    src: url(https://glassportals.com/fonts/RedHatDisplay/RedHatDisplay-BlackItalic.woff2) format('woff2');
  }